
.al_center{text-align: center; display: block;}
.font-green{color: #044927 !important; font-weight: bold;}
.lado{ display: flex; justify-content: center; }
.logo-fametro{
    max-width: 40%;
    height: auto;
}
.mascote{
    max-width: 17%;
    padding: 15px;
}
.d-n{display: none;}
.required:after { content:" *";  color: red; }
.trigger{
    position: relative;
    width: 100%;
    padding: 15px;
    background: #333;
    font-size: 1em;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    margin-top: 1rem;
}
.trigger_error{background-color: #F45563;}
.trigger_warning{background-color: #FAAD50;}
.workcontrol_upload{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 998;
    vertical-align: middle;
    display: none;
}
.workcontrol_upload_bar{
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 18rem;
    display: none;
}

.workcontrol_upload_bar p{
    display: block;
    margin: 0;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #555;
}
.form-check-label {margin-bottom: 8px;}
.form-check-input{display: none;}
.icon-salvar{position: relative;right:  35px;top: -16px;}
.active{color: #fff;background: #28a745;width: 45%;height: auto;border-radius: .2rem;}
.fas{ font-size: 5rem;}
.fa-paper-plane, .fa-id-badge, .fa-calendar-alt, .fa-book, .fa-comment-dots, .fa-times, .fa-check{font-size: 1rem;}
.form-text{font-size: 14px; position: relative; right:5px; font-family: 'arial';}
.fa-wifi{position: relative;left: 10px;top: 7px;}
.fa-envelope-open-text:before{position: relative;top: 4px;left: 17px;}
.fa-user-graduate:before{position: relative;left: 25px;top: 5px;}
.form-row{padding: 20px 0 5px 0;}
.msg, .check {color:#d81515;;font-size: 15px;}
#send{
    position: relative;
    left:  0;
    width: 20%;
    height: 43px;
    background: #218838;
    border-color: #1e7e34;
    margin-top: 1.9em;
    margin-left: 23.3em;
}
.has-success .success{
    border-color:rgb(60, 202, 60);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: rgba(0,0,0,.075);
}
.has-error .success{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.has-success .fa-check{
    color:rgb(60, 202, 60);
}
.has-error .fa-times{
    color:#d81515;
}
.form-control-feedback{
    position: absolute;
    top: 2.6em;
    right: 0.90em;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.help-block{
    color:#d81515;
}

/* ESTILIZAÇÃO DO MODAL DE SUCESSO */
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}